@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.App {
  user-select: none;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.calc-wrapper {
  cursor: pointer;
  width: 35vw;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  border: 0.75em outset #282c34;
}

.linha {
  display: flex;
}

h1 {
  color: #282c34;
  font-size: 35px;
}

@media (max-width: 600px) {
  .calc-wrapper {
    width: 80vw;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .calc-wrapper{
    width: 60vw;
  }
}

@media (min-width: 801px) and (max-width: 1000px){
  .calc-wrapper{
    width: 50vw;
  }
}

